*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
}
body{
    background-image: url("../img/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
}

header{ 
    margin: 15px;
    display: flex;
    justify-content: space-between;
}

.logo_nissan{
    width: 130px;
}

.menu{
    width: 650px;
}


.lista_menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.a_menu{
    text-decoration: none;
}

.texto_menu{
    font-size: 14px;
    font-weight: 500;
    color: rgb(0, 0, 0);
}

.logo_menu{
    width: 30px;
    
}